section.workerScheme {
  width: 100%;
  margin-top: 150px;

  span {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(92, 142, 229, 1);
    display: inline-block;
    margin-bottom: 30px;
  }
}