.productions {
    width: 100%;

    h2.title {
        font-size: 45px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0%;
        color: rgba(130, 138, 153, 1);
    }

    .gril {
        max-width: 100%;
        object-fit: cover;
    }
}